html, body, #root {
  width: 100%;
  height: 100%;
}
:root {
  font-family: 'Inter', sans-serif;
}

/* Use this @supports block for variable font support */
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}