.footer {
  font-family: Inter;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}



/* ===================== */
/* TOP SECTION */
/* ===================== */

.footer-top {

  position: relative;
  z-index: 1;
  display: grid;
  background: #0B0501;
  color: #fff;

  /* CAMBIOS CLAVE PARA CENTRAR */
  width: 100%;          
  max-width: 1400px;   
  margin: 40px auto;   
  
  padding: 60px 80px 0px 80px;
  border-radius: 70px;
  grid-template-columns: 320px 220px 1fr;
  gap: 60px;
  align-items: start;
}



/* ===================== */
/* LOGO SECTION */
/* ===================== */

.logo {

  display: flex;

  align-items: center;



  width: 205px;
  height: 65px;
}

.footer .logo-completo {

    width: 203px;
    height: 63.5px;
    opacity: 1;


}


.disclaimer {

width: 217px;

  color: #c2c2c2;

  font-family: Inter;
font-weight: 274;
font-size: 15px;
line-height: 20px;
letter-spacing: 0px;

}


.provincia-link {

  color: #BBA591;
  width: 204;
  height: 34;
  top: 212px;
  left: 70px; 
  opacity: 1;

  font-family: Inter;
font-weight: 274;
font-style: Light;
font-size: 14px;
line-height: 17px;
letter-spacing: 0px;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
text-decoration-skip-ink: auto;

  transition: color 0.2s;
}

.provincia-link:hover {

  color: #ff8c00;
}



/* ===================== */
/* EMPEZAR CARD */
/* ===================== */

.empezarCard {

  background: #140F0C;

  width: Fixed(210px);

  height: Fixed(210px);

  top: 81px;

  left: 374px;

  gap: 60px;

  border-radius: 20px;

  padding: 20px;

  cursor: pointer;

  transition: all 0.25s ease;
}

.empezarCard:hover {

  background: rgba(255,255,255,0.06);

  transform: translateY(-3px);
}

.empezarCard h3 {

  color: #F2A055;
  width: 170px;
  height: 20px;
  font-weight: 274;
  font-style: Light;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;


/*  margin-bottom: 10px;*/
}

.empezarCard p {

  color: #BBA591;

  width: 170;
  height: 34;
  opacity: 1;

    font-family: Inter;
    font-weight: 274;
    font-style: Light;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0px;

}

.arrow {

  font-size: 20px;

  color: white;
}



/* ===================== */
/* NAV */
/* ===================== */

.footer-nav {

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 40px;
}


.footer-column h4 {

  margin-bottom: 15px;

  font-size: 16px;

  font-weight: 600;
}


.footer-column a {

  display: block;

  color: #aaa;

  text-decoration: none;

  font-size: 14px;

  margin-bottom: 8px;

  transition: color 0.2s;
}

.footer-column a:hover {

  color: #ff8c00;
}






/* ===================== */
/* BACKGROUND IMAGE */
/* ===================== */

.mask-bet {
  position: relative;
  width: 1400px;
  z-index: 0;
  margin: 0px 0px -92px -80px;
  pointer-events: none;
}


/* ===================== */
/* BOTTOM */
/* ===================== */

.footer-bottom {
  width: 100%;
  /*min-width: 100%;*/
  max-width: 1440px;
  font-family: Inter;
  margin: 0 auto;
  color: rgba(97, 62, 39, 1);
  
  /*z-index: 1;*/

  display: flex;

  justify-content: space-between;
  
  /*padding: 0 40px;*/
  align-items: center;

  font-size: 14px;

  margin-top: auto;

}
.footer-bottom p {
  display: flex;
  font-size: 15px;
  align-items: center;
  gap: 5px;
}
.loteria-logo {
  width: 43px;
  height: auto;
  margin-right: 5px;
}
.dieciocho-logo {
  width: 43px;
  height: autopx;
  margin-left: 5px;
}