.container{
    font-family: Inter;
    width: min(1440px, 100%);
    margin-inline: auto;
    padding-inline: 120px;
    background-image: url("../assets/elipse.png");
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;

}

.features{
    width: 100%;
    display: flex;
    justify-content: center;
}

.feature-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 30px;
    gap: 0px;

    background: radial-gradient(
        86.67% 66.86% at 29.09% 29.32%,
        #903800 0%,
        #4A1D00 36.41%,
        #140F0C 87.09%
    );

    border: 1px solid #3B281B;
    border-radius: 30px;

    width: 380px;
    min-height: 370px;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor:pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.feature-card::before {
    content: "";
    position: absolute;
    inset: 0;
    
    background: radial-gradient(
        120% 100% at 50% 100%, 
        #944d04 0%, 
        #5a1e08 40%, 
        #331303 57%,
        #220d00 93% 
    );
    
    opacity: 0; 
    transition: opacity 0.8s ease; 
    z-index: -1; 
}

.feature-card:hover {
    
    transform: translateY(-8px);
    border-color: #a85822; 
}

.feature-card:hover::before {
    opacity: 1;
}

.feature-icono{
    width: 118px;
    height: 133px;

    filter:
    drop-shadow(63px 86px 30px rgba(0, 0, 0, 0.01))
    drop-shadow(40px 55px 27px rgba(0, 0, 0, 0.07))
    drop-shadow(23px 31px 23px rgba(0, 0, 0, 0.24))
    drop-shadow(10px 14px 17px rgba(0, 0, 0, 0.4))
    drop-shadow(3px 3px 9px rgba(0, 0, 0, 0.46));
}

.feature-card:hover .feature-icono {
    filter: 
        drop-shadow(0 0 15px black)
        brightness(1.1);
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.feature-content{
    flex: 1;

}

.feature-descripcion {
    font-family: Inter;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 10px;
    padding-top: 12px;

    color: #BBA591;

    max-width: 280px;
    transition: color 0.3s ease;
}
.feature-card:hover .feature-descripcion {
    color: #fff8f3;
}


.feature-link {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;

    
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: opacity 0.3s ease, color 0.3 ease;
}

.feature-card:hover .feature-link {
    color: #f2a055 !important;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); 
}

.feature-card:hover .link-text{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.link-arrow{
    display: inline-block;
    transform: rotate(45deg);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.feature-card:hover .link-arrow{
    transform: rotate(0deg);
}

.feature-link:hover {
    opacity: 0.7;
}

.feature-titulo {
  font-family: Inter;
  width: 100%;
  font-size: 32px;
  color: white;
  min-height: 40px;
  font-weight: 300;
  letter-spacing: -0.02em;
}

.feature-card:hover .feature-titulo {
    color: #ff8d3c;
    
    text-shadow: 
        0 0 5px rgba(255, 141, 60, 0.5), 
        0 0 15px rgba(255, 141, 60, 0.3); 
    transition: text-shadow 0.4s ease;
}

.feature-card:hover .feature-link {
    
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.features-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.features-titulo {
    font-family: Inter;
    font-weight: 590;
    font-size: 50px;
    line-height: 57px;
    text-align: center;
    letter-spacing: -0.68px;
    color: #FFFFFF;

    margin-bottom: 40px;
}