.quienesomos{
  position: relative;
  overflow: hidden;
  padding: 110px 0;
}


.quienesomos::before{
  content:"";
  position:absolute;

  
  left: 52%;
  top: 50%;
  transform: translate(-45%, -50%);

  width: 920px;
  height: 360px;

  background-image: url("../assets/elipse.png");
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;

  filter: blur(80px);
  opacity: .95;
  z-index: 0;
  pointer-events: none;
}
.quienesomos::after{
  content:"";
  position:absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

  background:
    linear-gradient(to right, rgba(20,15,12,.95) 0%, rgba(20,15,12,0) 18%, rgba(20,15,12,0) 82%, rgba(20,15,12,.95) 100%),
    linear-gradient(to bottom, rgba(20,15,12,.75) 0%, rgba(20,15,12,0) 30%, rgba(20,15,12,0) 70%, rgba(20,15,12,.75) 100%);
}

.quienesomos-overlay{
  font-family: SF Pro, sans-serif;
  width: min(1000px, 100%);
  margin: 0 auto;
  padding: 0 32px;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1.05fr 1.35fr;
  align-items: center;
  gap: 60px;
}

.quienesomos-text h2{ margin:0 0 14px; font-size: 48px; color: white;  }
.segundoTitulo{ margin: 0 0 18px; font-size: 18px; color: #f1ad6e; line-height: 19px; font-weight: 300;}
.parrafo{ margin: 18px 0; font-size: 18px; color: #ac9480; letter-spacing: -1px; line-height: 19px; font-style: medium; font-weight: 100;}
.quienesomos-text ul{ margin: 18px 0 0; padding-left: 18px; color: rgba(255,255,255,.75); }

.imagen{
  display: flex;
  z-index: 1;
}
.imagen img{
  max-width: 600px;  
  width: 120%;
  height: auto;
  display: block;
  filter: drop-shadow(0 20px 40px rgba(0,0,0,.35));

}
.background img{
  position: absolute;
  top: -40px;
  left: 520px;
  z-index: -1;
}
.lista {
    list-style: none; /* Elimina los puntos predeterminados */
    padding: 0;
    
}

.lista li {
    font-size: 16px;
    background-image: url("../assets/lista.png"); /* Ruta a la imagen */
    background-repeat: no-repeat;
    background-position: left center; /* Posiciona la imagen a la izquierda y centrada verticalmente */
    padding-left: 25px; /* Espacio para que la imagen no pise el texto */
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
    background-size: 16px 16px; /* Ajusta el tamaño de la imagen según necesites */
}