
.socios-seccion {

  font-family: Inter, sans-serif;

  padding: 80px 20px;

  text-align: center;
  position: relative;
  overflow: hidden;
}

.socios-fondo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 130%;  
  background-image: url("../assets/elipse.png");
  background-size: contain;  
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;    
  pointer-events:none;
}

.socios-container{
  position: relative;
  z-index: 1;
}

.socios-titulo {

  font-size: 48px;
  font-weight: 600;

  margin-bottom: 50px;

  color: white;
}


.socios-grilla {

  display: flex;

  flex-wrap: wrap;

  justify-content: center;

  /*grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));*/

  gap: 25px;

  max-width: 600px;

  margin: 0 auto;
  width: 100%;
}


.socios-carta {

  background: #111;

  border-radius: 20px;

  padding: 25px;

  display: flex;

  align-items: center;

  justify-content: center;

  transition: transform 0.25s ease, box-shadow 0.25s ease;

  width: 120px;

  height: 120px;

  box-sizing: border-box;
}


.socios-carta:hover {

  transform: translateY(-5px);

  box-shadow: 0 10px 25px rgba(255,140,0,0.25);
}


.socio-logo {

  max-width: 90px;

  max-height: 90px;

  object-fit: contain;
}
.socios-fondo::before {
  content:"";
  position:absolute;
  inset:0;
  z-index:0;
  pointer-events: none;

  background: linear-gradient(180deg,
    rgba(20,15,12,0.25) 0%,
    rgba(20, 15, 12, 0.486) 45%,
    rgba(20, 15, 12, 0.685) 100%
  );
}